.menu-button {
  position: relative;
  z-index: 10;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 0;
  margin-left: auto;
  border: none;
  background-color: transparent;

  &:hover,
  &:focus {
    .menu-button__icon {
      fill: $accent-color;
    }
  }

  &.is-open {
    .menu-button__icon-close {
      opacity: 1;
    }

    .menu-button__icon-open {
      opacity: 0;
    }
  }
}

.menu-button__icon-close {
  opacity: 0;

  transition: opacity 250ms $primary-timing-function;
}

.menu-button__icon-open {
  opacity: 1;
  transition: opacity 250ms $primary-timing-function;
}

@media screen and (min-width: $tablet-width-container) {
  .menu-button {
    display: none;
  }
}
