.container {
  width: 100%;
  @extend %blockCentering;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: $mobile-width-container) {
  .container {
    width: $mobile-width-container;
  }
}

@media screen and (min-width: $tablet-width-container) {
  .container {
    width: $tablet-width-container;
  }
}

@media screen and (min-width: $desktop-width-container) {
  .container {
    width: $desktop-width-container;
  }
}
